@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-dm-mono: "DM Mono", monospace;
}

/* connect custom font*/
/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"); */
/* 
@font-face {
  font-family: "dmSans";
  src: url("/fonts/dmsans.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dmMonoMed";
  src: url("/fonts/DMMono-Medium.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dmMonoReg";
  src: url("/fonts/DMMono-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: #0b0b12;
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15%;
}

.home-cardBg {
  background-image: url(/images/home-cardBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  border-radius: 6px;
}

.dmsans {
  font-family: "DM Sans", sans-serif;
  font-weight: 400 !important;
}

.dmMono {
  font-family: var(--font-dm-mono); /* DM Mono for p */
}
