@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0B12;
  background-image: url(/images/bg.png); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position-y: 15%;
}

.home-cardBg{
  background-image: url(/images/home-cardBg.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  border: 1px solid white;
  border-radius: 6px; 
}